<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Charm:wght@400;700&family=Give+You+Glory&family=Great+Vibes&family=Indie+Flower&family=Libre+Caslon+Display&family=Rye&family=Shadows+Into+Light&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Replit - Vegan & Vegetarian Fine Dining</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="footer">
      <div
        id="extremeFooterLet"
        style="border: 2px dotted white; border-radius: 50%"
      >
        <img
          src="../images/flourishreal.png"
          alt="LOGO"
          width="100wh"
          height="50vh"
        />
      </div>
      <div id="footerLeft">
        <h1>Location</h1>
        <p>611 Field Club Road</p>
      </div>
      <div id="footerMiddle">dssdsd</div>
      <div id="footerRight">
        <h1>Hours</h1>
        <p>T-Th: 3pm-10pm F-S: 3pm-11pm</p>
      </div>
    </div>
  </body>
</html>
