<!doctype html>
<html lang="en">
  <head>
    <script src="https://kit.fontawesome.com/a47b4932f5.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a47b4932f5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Charm:wght@400;700&family=Give+You+Glory&family=Great+Vibes&family=Indie+Flower&family=Libre+Caslon+Display&family=Rye&family=Shadows+Into+Light&display=swap"
      
rel="stylesheet"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Replit - Vegan & Vegetarian Fine Dining</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="footer">
      <div id="FooterLeft">
        <h2
          style="
            font-family:
              Bodoni Moda,
              serif;
          "
        >
          Contact
        </h2>
        <p
          style="
            font-family:
              Bodoni Moda,
              serif;
          "
        >
          info@flourishrestaurant.com <br />
          (412)-510-4038
        </p>
        <i class="fa-brands fa-instagram"></i>
        <img src="../images/flourishreal.png" alt="LOGO" width="100wh" />
      </div>
      <div id="footerLeft">
        <h1
          style="
            font-family:
              Bodoni Moda,
              serif;
          "
        >
          Location
        </h1>
        <p
          style="
            font-family:
              Bodoni Moda,
              serif;
          "
        >
          123 Flourish Drive
        </p>
      </div>
      <div id="footerMiddle" style="list-style-type: none">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../about/about.html">About Us</a></li>
        <li><a href="../../../mission/mission.html">Our Mission</a></li>
        <li><a href="../../../menu/menuHome.html">Menus</a></li>
        <li>
          <a href="../../../reservation/reservation.html">Reservations</a>
        </li>
        <li><a href="../../../contact/contact.html">Contact</a></li>
        <li><a href="../../../faq/faqs.html">FAQs</a></li>
      </div>
      <div id="footerRight">
        <h1
          style="
            font-family:
              Bodoni Moda,
              serif;
          "
        >
          Hours
        </h1>
        <p
          style="
            font-family:
              Bodoni Moda,
              serif;
          "
        >
          Tues - Thurs: 3pm - 10pm
        </p>
        <p
          style="
            font-family:
              Bodoni Moda,
              serif;
          "
        >
          Fri - Sun: 3pm - 11pm
        </p>
        <p
          style="
            font-family:
              Bodoni Moda,
              serif;
          "
        >
          Mon: CLOSED
        </p>
      </div>
    </div>
  </body>
</html>
