
<ul class="navbar" style="position:fixed; top:0vh; overflow:hidden; z-index:1000; width:100%">
      <li style="margin-left:0.25vw; margin-right:0.25vw; "><a href="../../index.html"><img src="../../images/flourishLogo.png" alt="LOGO" width="100wh" height="50vh" style="margin-top:0vh; align-items: center;"></a></li>
      <li style="margin-left:0.25vw; margin-right:0.25vw; "><a href="../../../mission/mission.html">Our Mission</a></li>
      <li id="menuButton" style="margin-left:1vw; margin-right:1vw; position:relative;">
        <a href="../../../menu/seasonalMenus/winterMenu.html">Menus</a>
        <div class="menuDropdown">
          <a href="../../../menu/seasonalMenus/winterMenu.html">Winter</a>
          <a href="../../../menu/seasonalMenus/springMenu.html">Spring</a>
          <a href="../../../menu/seasonalMenus/summerMenu.html">Summer</a>
          <a href="../../../menu/seasonalMenus/fallMenu.html">Fall</a>
        </div>
      </li>
      <li style="margin-left:0.25vw; margin-right:0.25vw;"><a href="../../../reservation/reservation.html">Reservations</a></li>
      <li style="margin-left:0.25vw; margin-right:0.25vw;"><a href="../../../contact/contact.html">Contact</a></li>
      <li style="margin-left:0.25vw; margin-right:0.25vw;"><a href="../../../faq/faqs.html">FAQs</a></li>
    </ul>
