<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Charm:wght@400;700&family=Give+You+Glory&family=Great+Vibes&family=Indie+Flower&family=Libre+Caslon+Display&family=Rye&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Replit - Vegan & Vegetarian Fine Dining</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <ul class="navbar" style="position:fixed; top:0vh; overflow:hidden; z-index:1000; width:100%">
      <li style="margin-left:0.25vw; margin-right:0.25vw; "><a href="../../index.html"><img src="../../images/flourishLogo.png" alt="LOGO" width="100wh" height="50vh" style="margin-top:0vh; align-items: center;"></a></li>
      <li style="margin-left:0.25vw; margin-right:0.25vw; "><a href="../../../mission/mission.html">Our Mission</a></li>
      <!--<li><a href="../../../index.html">Home</a></li>-->
      <li id="menuButton" style="margin-left:1vw; margin-right:1vw;"><a href="../../../menu/seasonalMenus/winterMenu.html">Menus</a>
      
      <div class="menuDropdown">
        <ul class="verticalMenuList" id="verticalMenuList" style=" position:absolute; z-index:1000;">
          <li><a href="../../../public/menu/seasonalMenus/winterMenu.html">Winter</a></li>
          <li><a href="../../../public/menu/seasonalMenus/springMenu.html">Spring</a></li>
          <li><a href="../../../public/menu/seasonalMenus/summerMenu.html">Summer</a></li>
          <li><a href="../../../public/menu/seasonalMenus/fallMenu.html">Fall</a></li>
        </ul>
      </div></li>
      <li style="margin-left:0.25vw; margin-right:0.25vw; "><a href=../../../reservation/reservation.html>Reservations</a></li>
      <li style="margin-left:0.25vw; margin-right:0.25vw; "><a href=../../../contact/contact.html>Contact</a></li>
      <li style="margin-left:0.25vw; margin-right:0.25vw; "><a href="../../../faq/faqs.html">FAQs</a></li>
    </ul>
<!--
    <img
      src="../images/homeImage1.jpg"
      alt="Vegan Dining"
      id="homeImage"
      style="position: relative"
    />-->


    
  </body>
</html>
