<!doctype html>
<html lang="en">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Charm:wght@400;700&family=Give+You+Glory&family=Great+Vibes&family=Indie+Flower&family=Libre+Caslon+Display&family=Rye&family=Shadows+Into+Light&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flourish | Fine Dining</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav>
      <ul class="navbar">
        <li>
          <a href="#" onclick="openthreebarmenu()" class="menu-toggle">
            <div class="bar1" style="background-color: white"></div>
            <div class="bar2" style="background-color: white"></div>
            <div class="bar3" style="background-color: white"></div>
          </a>
        </li>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/mission">Our Mission</a></li>
        <li class="dropdown">
          <a href="/menus" class="dropbtn">Menus</a>
          <div class="dropdown-content">
            <a href="/menus/winter">Winter</a>
            <a href="/menus/spring">Spring</a>
            <a href="/menus/summer">Summer</a>
            <a href="/menus/fall">Fall</a>
          </div>
        </li>
        <li>
          <a href="/reservation">Reservations</a>
        </li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/faqs">FAQs</a></li>
      </ul>
      <div id="threebarmenu" class="threebarmenu">
        <a
          href="javascript:void(0)"
          class="closebtn"
          onclick="closethreebarmenu()"
          >&times;</a
        >
        <a href="#" style="--item-number: 1;">Sources</a>
        <a href="#" style="--item-number: 2;">Work Log</a>
        <a href="#" style="--item-number: 3;">Copyright Checklist</a>
      </div>
    </nav>
  </body>
</html>
